.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: -20px;
}

.hero h5 {
  color: var(--main-color);
  font-family: var(--mono-font);
  font-size: 18px;
  font-weight: 400;
}

.hero h1 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 5rem;
  line-height: 1;
}

.hero h3 {
  color: var(--light-color);
  font-size: 3rem;
  line-height: 1;
}

@media screen and (max-width: 1415px) {
  .hero h1 {
    font-size: 4rem;
  }

  .hero h3 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    height: 110vh;
  }
}