.hero {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
}

.hero h5 {
  color: var(--main-color);
  font-family: var(--mono-font);
  font-size: 18px;
  font-weight: 400;
}

.hero h1 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 5rem;
  line-height: 1;
}

.hero h3 {
  color: var(--light-color);
  font-size: 3rem;
  line-height: 1;
}
