.about_container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.about_img {
  width: 350px;
  border-radius: 50%;
  justify-self: center;
}

img {
  max-width: 100%;
  height: auto;
  border: 7px double var(--main-color);
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
